.business-process-detail {
  padding: 30rpx;
  padding-bottom: 160rpx;

  .process-content {
    padding: 20rpx;
    border-radius: 6rpx;
    color: var(--tn-color-grey);

    &::before {
      z-index: -1;
    }
  }
}

/* 底部操作栏 start */
.operation-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* 底部操作栏 end */
